{% extends 'base.html.twig' %}

{% block title %}Horror Series Category{% endblock %}

{% block body %}
    <h1>Toutes les series d'horreur</h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        <p>Aucune serie trouvee</p>
    {% endfor %}
    <a href="{{ path('app_index') }}">Retour a l'accueil</a>
{% endblock %}